@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Ubuntu:wght@300&display=swap');

:root {
    --main-color: yellow;
    --second-color: black;
    --font-family: 'Oswald', sans-serif;
}


* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background: var(--main-color);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box {
    width: 400px;
    height: 370px;
    padding: 40px;
    background-color: var(--second-color);
    color: var(--main-color);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;

}

.firstfield {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 30px;

}

.secondfield {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 30px;
}

.fieldresponse {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 90px;
}

imput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* margin: 0; */
}

.form {
    background: transparent;
    color: var(--main-color);
    outline: 0;
    text-align: center;
    width: 6rem;
    height: 2rem;
    border: none;
    fill: none;
    font-size: 18px;
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 16px;

}

span {
    text-align: center;
    width: 100px;
    color: var(--main-color);
    background: var(--second-color);
    cursor: pointer;
    /* gap: 0px 30px; */

}

.calc {
    width: 100px;
    border-radius: 10px;
    color: var(--main-color);
    background: var(--second-color);
    cursor: pointer;
    border: 2px solid var(--main-color);
    padding: 7px;
}