@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Ubuntu:wght@300&display=swap');

:root {
    --main-color: yellow;
    --second-color: black;
    --font-family: 'Oswald', sans-serif;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background: var(--main-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box {
    width: 400px;
    height: 370px;
    padding: 40px;
    background-color: black;
    color: yellow;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;

}

.firstfield {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;

}

.secondfield {
    margin-top: 25%;
    display: flex;
    justify-content: space-around;

}

.fieldresponse {
    margin-top: 15%;
    display: flex;
    justify-content: space-around;

}

imput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form {

    background: transparent;
    color: var(--main-color);
    outline: 0;
    padding-left: 15px;
    width: 6rem;
    height: 2rem;
    border: none;
    fill: none;
    font-size: 18px;
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 16px;

}

.calc {
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    color: var(--main-color);
    background: var(--second-color);
    cursor: pointer;
    border: 2px solid var(--main-color);
    padding: 5px;
}